In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('nation_one_obs.csv')
df.fillna(value=0, inplace=True)
data = df.to_numpy()[:,1:]

In [3]:
mean = data.mean(axis = 0)
data = (data - mean).astype(float)
stddev = np.std(data.astype(float),axis = 0)
Z = data / stddev
cov = Z.T @ Z
eigenValues, eigenVectors = np.linalg.eig(cov)
idx = eigenValues.argsort()[::-1]   
eigenValues = eigenValues[idx]
eigenVectors = eigenVectors[:,idx]

In [4]:
threshold = 0.8
sum = 0
totalSum = np.array([abs(v) for v in eigenValues]).sum()
for dimensions, v in enumerate(eigenValues):
    sum += abs(v)
    if sum/totalSum >= threshold:
        break
print("Number of dimensions left after dimensionality reduction: ", dimensions)

Number of dimensions left after dimensionality reduction:  11

In [5]:
reducedData = Z @ eigenVectors
reducedData = reducedData[:,:dimensions]

In [6]:
reducedDf = pd.DataFrame(reducedData)
reducedDf.columns = ['feat_'+ str(i) for i in range(reducedData.shape[1])]

In [7]:
reducedDf

,feat_0,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10
0,9.207288,-6.157101,0.404772,0.670867,-0.564576,-0.183816,-2.611269,0.254039,-0.030883,2.931485,-0.829260
1,-0.319999,0.985842,-1.228818,1.340084,-0.196383,1.146871,-0.085327,1.147941,0.177657,1.230077,0.524724
2,0.127992,0.016542,-0.619498,4.582006,-1.633801,-1.181836,1.461242,-0.171962,-0.429008,-1.797977,-0.294998
3,0.368465,1.052160,-1.432170,-0.165022,-0.925690,2.685891,1.536791,1.462073,1.087930,0.464252,-0.151230
4,4.869624,-2.606087,-1.099130,-0.780305,1.150504,-0.234983,0.363374,-0.085460,-0.889242,-0.629423,0.715505
...,...,...,...,...,...,...,...,...,...,...,...
190,-2.574808,0.886520,-0.956710,-2.072217,-2.379938,-1.567700,-1.549671,0.016633,-0.733184,-1.201286,-0.264650
191,0.141038,0.865240,3.242650,1.135014,-0.038549,1.407020,-0.592670,0.160497,-0.722907,-1.004407,0.877677
192,2.514163,-0.534878,0.166557,3.919744,-1.604748,-1.166517,1.884026,0.226096,-0.284591,-0.907097,-0.130589
193,0.055708,1.439851,-0.222982,-0.133018,2.500377,-0.988875,0.257668,-0.118422,0.313707,-0.337471,0.518514
194,0.320966,1.038039,-0.317850,-0.318394,2.863630,-1.198307,-0.352923,-0.872172,2.409418,-3.102504,0.465466